In [102]:
print("test")

test

Lists

In [103]:
numbers = [1, 2, 3, 4, 5]
addition = 0
for number in numbers:
    addition += number
addition

15

In [104]:
students = [["a", 90, 93, 89], ["b", 78, 98, 87], ["c", 96, 83, 92]]
for student in students:
    total = 0
    for i in range (1, 4):
        total += student[i]
    print(f"student name: {student[0]} | total marks: {total}")

student name: a | total marks: 272
student name: b | total marks: 263
student name: c | total marks: 271

In [105]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

#common elements
common_list = []
for number in list1:
    if number in list2:
        common_list.append(number)

print(common_list)

[4, 5]

In [106]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#nested list to one single list
new_list = []
for list in nested_list:
    for item in list:
        new_list.append(item)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
# create a list of odd numbers:

odd = []
for number in numbers:
    if number % 2 != 0:
        odd.append(number)

odd

[1, 3, 5, 7]

Sets

In [108]:
#convert list into set which contains only one of each number
numbers = [1, 2, 2, 3, 4, 4, 5, 7, 8, 6, 8, 10, 7, 7, 11]
unique_numbers_set = set(numbers)
unique_numbers_set

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

In [109]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#union of sets

set_union = set1.union(set2)
set_union

{1, 2, 3, 4, 5, 6, 7, 8}

In [110]:
#intersection of sets

set_intersection = set1.intersection(set2)
set_intersection

{4, 5}

In [111]:
#return elements which are not common in both sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set_unique = set1.symmetric_difference(set2)
set_unique

{1, 2, 3, 6, 7, 8}

Dictionaries

In [112]:
dicts = {'a': 10, 'b': 20, 'c': 30}

for key, value in dicts.items():
    print(f"{key}: {value}")

a: 10
b: 20
c: 30

In [113]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

#combined dict

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [114]:
keys = ['name', 'age', 'city']
values = ['Mihik', 19, 'Mumbai']

new_dict = {}

for i in range(len(keys)):
    temp_dict = {keys[i]: values[i]}
    new_dict.update(temp_dict)

new_dict

{'name': 'Mihik', 'age': 19, 'city': 'Mumbai'}

In [115]:
string = "hello world"

#number of occurences of each letter:
string_new = string.replace(" ", "")
string_new

occurences = {}
seen_letters = []

for letter in string_new:
    if letter in seen_letters:
        occurences[letter] += 1
    else:
        temp_occurence = {letter: 1}
        occurences.update(temp_occurence)
        seen_letters.append(letter)

occurences

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [117]:
students = [{'name': 'student1', 'scores': [85, 78, 92]}, {'name': 'student2', 'scores': [92, 88, 84]}]

for student in students:
    total_score = 0
    for score in student['scores']:
        total_score += score
    average_marks = total_score / len(student['scores'])
    print(f"student name: {student['name']} | average marks: {average_marks}")

student name: student1 | average marks: 85.0
student name: student2 | average marks: 88.0

Conditionals

In [118]:
#grade students
'''
A: 90-100
B: 80-89
C: 60-79
F: <60
'''

def grade(n):
    if n >=90 and n <= 100:
        print("A")
    elif n >= 80 and n <= 89:
        print("B")
    elif n >= 60 and n <= 79:
        print("C")
    elif n >= 0 and n < 60:
        print("F")
    else:
        print("invalid marks")

grade(88)
grade(73)
grade(36)

B
C
F

In [121]:
#check divisibility by 6

def check_divisible_6(n):
    if n % 2 == 0 and n % 3 == 0:
        print("divisible by 6")
    else:
        print("not divisible by 6")

check_divisible_6(24)
check_divisible_6(112)

divisible by 6
not divisible by 6

In [126]:
a = [20, 37, 87, 92, 16, 3, 77]
#find max
max = 0

for number in a:
    if number > max:
        max = number

max

92

In [142]:
vowels = "aeiou"
consonant = "bcdfghjklmpqrstvwxyz"

def is_vowel(n):
    if n in vowels:
        print("vowel")
    else:
        print("consonant")

is_vowel("a")
is_vowel("z")

vowel
consonant

In [146]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("leap year")
else:
    print("not a leap year")

leap year

Loops

In [133]:
#factorial

n = 6
fact = 1
while n > 0:
    fact *= n
    n -= 1

fact

720

In [140]:
#print even numbers
for i in range(1, 21):
    if i % 2 == 0:
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [150]:
#print pyramid
n = 5

for i in range(n + 1):
    for j in range(i):
        print("#", end="")
    print()

#
##
###
####
#####

In [157]:
#sum of digits
number = 18293
number_str = str(number)

addition = 0
for i in range(len(number_str)):
    addition += int(number_str[i])

addition

23

In [166]:
#camelCase to snake_case
camel_case = "arithmeticError"

snake_case = ""

for letter in camel_case:
    if letter.isupper():
        snake_case += "_" + letter.lower()
    else:
        snake_case += letter

print("snake_case: " + snake_case)

snake_case: arithmetic_error

Strings

In [171]:
#inserts "..." between words

text = "five four three two one"
new_text = text.replace(" ", "...")
new_text

'five...four...three...two...one'

In [175]:
#reverse sentence

text = "hello world"
text_split = text.split()
text_split_reversed = text_split[::-1]
text_reversed = " ".join(text_split_reversed)
text_reversed

'world hello'

In [179]:
#checks if word is palindrome

def is_palindrome(word):
    reversed_word = word[::-1]
    if (reversed_word == word):
        return print("palindrome!")
    return print("not a palindrome")

text = is_palindrome("python")
text = is_palindrome("radar")

not a palindrome
palindrome!

In [167]:
user = "hello world!"

#remove vowels
def shorten(word):
    shortened_word = ""
    for letter in word:
        if letter.lower() in "aeiou":
            continue
        else:
            shortened_word += letter
    print(f"Output: {shortened_word}")

output = shorten(user)

Output: hll wrld!